<main>
  <section class="register">
    <form spellcheck="false" novalidate>
      <a class="exit" (click)="goBack()">Go back</a>
      <div class="description">
        <h2>Register</h2>
        <p>Join to our community of awesome people!</p>
      </div>
      <div class="errors-container">
        <h3>Check again!</h3>
        <ul>
          <li>Nickname required!</li>
          <li>Password required!</li>
        </ul>
      </div>
      <div class="form-field">
        <label>Nickname*</label>
        <input type="text" placeholder="Your nickname" />
      </div>
      <div class="form-field">
        <label>Password*</label>
        <input type="password" placeholder="Your password" />
      </div>
      <div class="form-field">
        <label>Confirm password*</label>
        <input type="password" placeholder="Your password" />
      </div>
      <div class="form-field">
        <label>Quick introduction</label>
        <textarea placeholder="Fan of movies!"></textarea>
      </div>
      <div class="btn-container">
        <button type="submit" mat-flat-button>Register</button>
      </div>
    </form>
  </section>
  <section class="login">
    <form spellcheck="false" novalidate>
      <div class="description">
        <h2>Login</h2>
        <p>Come back to us!</p>
      </div>
      <div class="errors-container">
        <h3>Check again!</h3>
        <ul>
          <li>All fields required!</li>
          <li>E-mail or password incorrect!</li>
        </ul>
      </div>
      <div class="form-field">
        <label>Nickname</label>
        <input type="text" placeholder="Your nickname" />
      </div>
      <div class="form-field">
        <label>Password</label>
        <input type="password" placeholder="Your password" />
      </div>
      <div class="btn-container">
        <button type="submit" mat-flat-button>Login</button>
      </div>
    </form>
  </section>
</main>
