@import '../../../assets/styles/variables.scss';

main {
  width: 100%;
  padding: 1em;
  background-color: $black;

  .no-results {
    width: 100%;
    margin-top: 25px;

    h2 {
      color: $warning;
      margin-bottom: 8px;
      text-align: left;
    }

    p {
      text-align: left;
      color: $grey;
    }
  }
}
