@import '../../../assets/styles/variables.scss';

.profile-image {
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
}

.yellow {
  border-color: $yellow;
}

.green {
  border-color: $green;
}

.cursor {
  cursor: pointer;
}

.default-image-placeholder {
  border-radius: 50%;
  background-color: $white;
  padding: 0.75em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  .mat-icon {
    width: fit-content;
    height: auto;
    color: $black;
  }
}
