<!-- Default navbar (desktop) -->
<nav>
  <div class="logo" title="Home page" routerLink=""> Users Community </div>
  <div class="links-container">
    <div class="default-links">
      <a
        title="About this website"
        routerLink="/home"
        routerLinkActive="active">Home</a>
      <a
        title="List of all users"
        routerLink="/all-users"
        routerLinkActive="active">Users</a>
    </div>
    <div class="account-link-container">

      <!-- If not logged in -->
      <a
      class="account"
      title="Register or login"
      routerLink="/login-page"
      *ngIf="!user">
        Log me in
      </a>

      <!-- If logged in -->
      <button mat-icon-button
          *ngIf="user"
          [title]="user.nickname + ' account'"
          routerLink="/my-profile">
        <mat-icon>account_circle</mat-icon>
      </button>

    </div>
  </div>
  <div class="icon-container">
    <button mat-icon-button
        *ngIf="user"
        [title]="user.nickname + ' account'"
        routerLink="/my-profile">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleLinks()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</nav>

<!-- Navbar links for mobile devices -->
<div class="animate__animated mobile-links-container" *ngIf="displayLinks"
  [ngClass]="{'animate__fadeIn': displayLinks}">
  <div class="logo" title="Home page" routerLink="" (click)="toggleLinks()"> Users Community </div>
  <div class="default-links">
    <div>
      <a
        title="About this website"
        routerLink="/home"
        routerLinkActive="active"
        (click)="toggleLinks()">Home</a>
    </div>
    <div>
      <a
        title="List of all users"
        routerLink="/all-users"
        routerLinkActive="active"
        (click)="toggleLinks()">Users</a>
    </div>
  </div>
  <div class="account-link-container">

    <!-- If not logged in -->
    <a *ngIf="!user"  class="account" title="Register or login"
    routerLink="/login-page" (click)="toggleLinks()">Log me in</a>

  </div>
  <div class="close-container">
    <span (click)="toggleLinks()">Close</span>
  </div>
</div>
