<!-- Display loader if necessary -->
<app-loader *ngIf="displayLoader"></app-loader>

<!-- Main content -->
<main>
  <section class="posts">

    <div class="form-container" *ngIf="user">
      <form [formGroup]="postForm" novalidate>
        <div class="form-field">
          <label>
            Title
            <span class="error" *ngIf="postForm.invalid && displayErrors">
              should contain 3 - 20 characters {{ '(' + title.value.length + ')' }}
            </span>
          </label>
          <input #title formControlName="title" maxlength="20" type="text" placeholder="Short title" />
        </div>
        <div class="form-field">
          <label>
            Post content
            <span class="error" *ngIf="postForm.invalid && displayErrors">
              should contain 10 - 600 characters {{ '(' + content.value.length + ')' }}
            </span>
          </label>
          <textarea #content formControlName="content" maxlength="600" placeholder="Say something..."></textarea>
        </div>
        <div class="btn-container">
          <button mat-flat-button (click)="addPost()">Add post</button>
        </div>
      </form>
    </div>

    <h2>Recent posts</h2>

    <!-- Post -->
    <div class="post-container" *ngFor="let post of posts; let i = index" >
      <div class="title-container">
        <span class="title"> {{ post.title }} </span>
        <div>
          <button mat-icon-button class="delete"
          *ngIf="user && user._id === post.userId"
          (click)="deletePost(post._id)" title="Delete post">
            <mat-icon>delete</mat-icon>
          </button>
          <span class="nickname" title="View profile"
          *ngIf="!user || user._id !== post.userId"
          [routerLink]="'/user/' + post.userId">
            {{ post.nickname }}
          </span>
        </div>
      </div>
      <div class="content-container">
        <p> {{ post.content }} </p>
      </div>
      <div class="comments-date-info">
        <a (click)="toggleComments(i)">
          {{ commentContainers[i].display ? 'Hide comments ' : 'Show comments ' }}
          ({{ post.comments.length }})
        </a>
        <small> {{ post.date | date:'dd-MM-yyyy HH:mm' }} </small>
      </div>
      <div class="comments-container" *ngIf="commentContainers[i].display">
        <div class="add-comment-container" *ngIf="user">
          <input #comment type="text" placeholder="Your comment"
          (keyup.enter)="addComment(post._id, user._id, comment.value, user.nickname, i); comment.value = ''" />
          <button (click)="addComment(post._id, user._id, comment.value, user.nickname, i); comment.value = ''">Add</button>
        </div>
        <div class="comment" *ngFor="let comment of post.comments" >
          <div class="nickname">
            <a [routerLink]="'/user/' + comment.userId" title="View profile">{{ comment.nickname }}</a>
            <span>{{ comment.date | date:'dd-MM-yyyy HH:mm' }}</span>
            <button mat-icon-button title="Delete comment"
            (click)="deleteComment(post._id, comment._id, i)"
            *ngIf="user && user._id === comment.userId">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <p class="comment-content"> {{ comment.content }} </p>
        </div>
      </div>
    </div>

  </section>
</main>
