@import '../../../assets/styles/variables.scss';

main {
  width: 100%;

  .posts {
    background-color: $black;
    padding: 1em;
    color: $white;

    h2 {
      text-align: center;
    }

    .form-container {
      width: 60%;
      margin: 0 auto;
      padding: 1em;

      @media screen and (max-width: 1000px) {
        width: 80%;
      }

      @media screen and (max-width: 600px) {
        width: 100%;
      }

      .form-field {
        width: 100%;
        padding: 0.5em 0;

        label {
          display: block;
          margin-bottom: 8px;
          padding-left: 10px;

          .error {
            color: $warning;
            font-weight: 300;
            margin-left: 10px;
            font-size: 0.85em;
          }
        }

        input, textarea {
          font-family: 'Roboto', sans-serif;
          width: 100%;
          padding: 0.5em;
          border-radius: 10px;
          outline: none;
          border: none;
          background-color: $green;
          color: $black;
        }

        textarea {
          resize: none;
          height: 150px;
        }
      }

      .btn-container {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;

        button {
          line-height: 25px;
          background-color: $green;
          color: $black;
          transition: background-color 0.5s;
          font-weight: 400;

          &:hover {
            background-color: $hover;
          }
        }
      }
    }

    .post-container {
      width: 80%;
      margin: 1em auto;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 0 5px #000;

      @media screen and (max-width: 600px) {
        width: 100%;
      }

      .title-container {
        width: 100%;
        padding: 0.5em 0.8em;
        background-color: #2c2c2c;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .title {
          font-size: 1.35em;
          font-weight: 300;
          color: $white;
        }

        div {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;

          .delete {
            font-size: 0.75em;
            font-weight: 400;
            color: $warning;
            cursor: pointer;
            transition: color 0.5s;
            margin-right: 10px;

            &:hover {
              color: $hover;
            }
          }

          .nickname {
            font-size: 1em;
            font-weight: 400;
            color: $yellow;
            cursor: pointer;
            transition: color 0.5s;

            &:hover {
              color: $hover;
            }
          }
        }

      }

      .content-container {
        width: 100%;
        padding: 0.6em 0.8em;
        color: $black;
        min-height: 200px;
        background-color: $white;

        p {
          margin: 0;
          text-align: justify;
          line-height: 25px;
          font-weight: 300;
          font-size: 1.2em;
          white-space: pre-line;
        }

      }

      .comments-date-info {
        width: 100%;
        padding: 0.6em 0.8em;
        background-color: $white;
        color: $black;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        small {
          font-weight: 300;
        }

        a {
          text-decoration: underline;
          color: $grey;
          font-weight: 300;
          letter-spacing: 1px;
          cursor: pointer;
          user-select: none;
        }
      }

      .comments-container {
        width: 100%;
        padding: 0.6em 0.8em;
        background-color: $grey;

        .add-comment-container {
          display: flex;
          width: 100%;
          padding: 0.2em 0;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;

          button {
            background-color: $green;
            color: $black;
            line-height: 25px;
            font-weight: 300;
            transition: background-color 0.5s;
            margin-right: 10px;

            &:hover {
              background-color: $hover;
            }
          }

          input {
            margin-left: 10px;
            padding: 0.3em;
            font-family: 'Roboto', sans-serif;
            outline: none;
            border: none;
            border-radius: 5px;
          }
        }

        .comment {
          width: 100%;
          margin: 10px 0;

          .nickname {
            width: 100%;
            color: $yellow;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            span {
              color: $white;
              margin-left: 10px;
              font-size: 0.8em;
            }

            button {
              transition: color 0.5s;

              &:hover {
                color: $hover;
              }
            }
          }

          .comment-content {
            margin: 0;
            padding: 0.2em 0.4em;
          }
        }
      }
    }
  }
}
