@import '../../../assets/styles/variables.scss';

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: minmax(140px, auto) minmax(140px, auto);
  gap: 1em;
  color: $white;

  @media screen and (max-width: 600px) {
    gap: 0.75em;
    grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(50px, auto) minmax(50px, auto);
  }

  .grid-item {
    background-color: $black;
  }

  .image-container {
    grid-column: 1/2;
    justify-self: end;

    @media screen and (max-width: 600px) {
      justify-self: center;
    }
  }

  .nickname-introduction-container {
    grid-column: 2/3;

    @media screen and (max-width: 600px) {
      grid-column: 2/4;
      grid-row: 1/2;
    }

    .nickname {
      margin: 5px 0 8px 0;
      font-size: 2.5em;
      color: $white;

      @media screen and (max-width: 600px) {
        margin: 5px 0 5px 0;
      }
    }

    .introduction {
      margin: 0;
      font-size: 1.5em;
      color: $grey;
      word-wrap: break-word;

      @media screen and (max-width: 600px) {
        margin-bottom: 5px;
      }
    }
  }

  .controls-panel {
    grid-column: 3/4;

    @media screen and (max-width: 600px) {
      grid-column: 3/4;
      grid-row: 2/3;
      justify-self: center;
    }

    .btn-container {
      width: 100%;
      margin-bottom: 10px;
    }

    .edit, .logout, .notif {
      line-height: normal;
      width: fit-content;
      height: auto;
      font-size: 1em;
      font-weight: 400;
      padding: 5px 10px;
      min-width: 60px;
      cursor: pointer;
      transition: background-color 0.5s;

      @media screen and (max-width: 600px) {
        font-size: 0.8em;
      }

      &:hover {
        background-color: $hover;
      }
    }

    .edit, .notif {
      background-color: $green;
      color: $black;
    }

    .logout {
      background-color: $grey;
      color: $white;
    }

  }

  .statistics-container {
    grid-column: 1/2;
    justify-self: center;

    @media screen and (max-width: 600px) {
      grid-column: 1/3;
      grid-row: 2/3;
      justify-self: stretch;
    }

    h3 {
      text-align: center;
      margin: 0 0 10px 0;
    }

    .statistic {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5em;
      margin-bottom: 10px;

      span {
        font-weight: 400;
      }

      .type {
        color: $grey;
        text-align: center;
      }

      .value {
        color: $yellow;
        text-align: center;
      }
    }
  }

  .center {
    @media screen and (max-width: 600px) {
      grid-column: 2/3;
    }
  }

  .description-container {
    grid-column: 2/3;
    overflow: hidden;

    @media screen and (max-width: 600px) {
      grid-column: 1/4;
      grid-row: 3/4;
    }

    h3 {
      margin: 0 0 10px 0;
      color: $green;
    }

    .description {
      max-width: 100%;
      margin: 0;
      color: $white;
      line-height: 1.5em;
      white-space: pre-line;
      text-align: justify;
    }

  }

  .date-container {
    grid-column: 3/4;
    justify-self: start;
    align-self: end;

    @media screen and (max-width: 600px) {
      grid-column: 1/4;
      grid-row: 4/5;
    }

    .date {
      color: $yellow;
      font-size: 0.8em;
    }
  }

  .comments-container {
    grid-column: 2/3;

    @media screen and (max-width: 600px) {
      grid-column: 1/4;
      grid-row: 4/5;
    }

    h3 {
      margin: 0 0 5px 0;
      color: $green;
    }

    .add-comment-container {
      display: flex;
      width: 100%;
      padding: 0.4em 0;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;

      button {
        background-color: $green;
        color: $black;
        transition: background-color 0.5s;
        width: fit-content;
        padding: 0.3em 0.5em;
        outline: none;
        border: none;
        height: 24px;
        border-radius: 0 5px 5px 0;
        cursor: pointer;

        &:hover {
          background-color: $hover;
        }
      }

      input {
        height: 24px;
        padding: 0.3em;
        font-family: 'Roboto', sans-serif;
        outline: none;
        border: none;
        border-radius: 5px 0 0 5px;
      }
    }

    .nickname-date-container {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $grey;
      padding: 5px 0;

      span, div {
        display: inline-block;
      }

      .nickname {
        font-size: 1.2em;
        color: $yellow;
        margin-left: 10px;
        cursor: pointer;
        transition: color 0.5s;

        &:hover {
          color: $hover;
        }
      }

      .delete {
        color: $warning;
        cursor: pointer;
        margin-right: 5px;

        &:hover {
          text-decoration: underline;
        }
      }

      .date {
        color: $grey;
      }
    }

    .content {
      width: 100%;
      padding: 0.5em 0;

      p {
        text-align: justify;
        margin: 0;
        color: $white;
        width: 100%;
      }
    }
  }

  .no-results {
    color: $warning;
  }
}

.edit-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 50vw;
  height: 90vh;
  background-color: $white;
  overflow: auto;
  color: $black;
  padding: 1em;
  border-radius: 15px;
  box-shadow: 0 0 15px $black;
  z-index: 2;

  @media screen and (max-width: 1500px) {
    width: 70vw;
  }

  @media screen and (max-width: 1000px) {
    width: 90vw;
  }

  .close-btn {
    text-align: right;
  }

  .notif-container {
    padding: 1em 0;

    h3 {
      margin: 0 0 7px 0;
    }

    button {
      cursor: pointer;
    }
  }

  h2 {
    margin: 0;
    text-align: center;
  }

  .errors-container {
    width: 80%;
    margin: 15px auto 0 auto;
    padding: 15px 0;
    color: $warning;

    @media screen and (max-width: 600px) {
      width: 100%;
    }

    h3 {
      margin: 0 0 10px 0;
    }

    ul {
      margin: 0;
      padding-left: 30px;
      list-style-type: square;

      li {
        padding: 5px 0;
        font-weight: 300;
      }
    }
  }

  .form-field {
    display: block;
    padding: 15px 0;

    label {
      display: block;
      width: 100%;
      font-weight: 300;
    }

    small {
      display: block;
      margin-top: 5px;
      color: $grey;
    }

    input, textarea {
      width: 100%;
      display: block;
      margin-top: 10px;
      padding: 0.8em;
      border-radius: 10px;
      background-color: $green;
      color: $black;
      border: 1px solid $black;
      outline: none;
      font-family: 'Roboto', sans-serif;
    }

    textarea {
      resize: none;
      height: 150px;
      line-height: 1.4em;
    }

    .image-input {
      background-color: inherit;
      width: fit-content;
      height: auto;
      cursor: pointer;
      border: none;
    }

    image-cropper {
      margin: 15px 0;
    }

    .cropped-image-container {
      text-align: center;
    }

  }

  .submit-container {
    padding: 15px 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    button {
      margin-right: 10px;
      background-color: $grey;
      color: $white;
      line-height: 28px;
      transition: background-color 0.5s;

      &:hover {
        background-color: $hover;
      }
    }
  }

  .delete-btn {
    display: block;
    width: 100%;
    text-align: left;

    button {
      color: $black;
      background-color: $warning;
      line-height: 28px;
      font-weight: 400;
      transition: background-color 0.5s;

      &:hover {
        background-color: $hover;
      }
    }

    .confirm {
      display: block;
      width: 100%;
      padding: 10px;
      text-align: left;

      a {
        text-decoration: underline;
        color: $warning;
        transition: color 0.5s;
        cursor: pointer;
        font-size: 0.8em;
        font-weight: 400;

        &:hover {
          color: $hover;
        }
      }
    }
  }
}
