<!-- Display loader if necessary -->
<app-loader *ngIf="displayLoader"></app-loader>

<!-- Profile info container -->
<div class="container">
  <div class="grid-item image-container">
    <app-profile-image [imageAsBase64]="user.image" imageBorderColor="green" imageSize="90px"></app-profile-image>
  </div>
  <div class="grid-item nickname-introduction-container">
    <h1 class="nickname"> {{ user.nickname }} </h1>
    <h3 class="introduction"> {{ (user.introduction) ? user.introduction : 'This user have nothing to say' }} </h3>
  </div>
  <div class="grid-item controls-panel" *ngIf="myProfile">
    <div class="btn-container">
      <button class="logout" mat-flat-button
      (click)="userService.logout()">
        Logout
      </button>
    </div>
    <div class="btn-container">
      <button class="edit" mat-flat-button
      (click)="toggleEditForm()">
        Edit profile
      </button>
    </div>
    <div class="btn-container">
      <button class="notif" mat-flat-button
      (click)="enableNotif()">
        Enable notifications
      </button>
    </div>
  </div>
  <div class="grid-item statistics-container" [class.center]="!myProfile">
    <h3>User statistics</h3>
    <div class="statistic">
      <span class="type">Likes</span>
      <span class="value"> {{ user.givenLikes }} </span>
    </div>
    <div class="statistic">
      <span class="type">Comments</span>
      <span class="value"> {{ user.givenComments }} </span>
    </div>
  </div>
  <div class="grid-item description-container">
    <h3>Description</h3>
    <p class="description">
      {{ (user.description) ? user.description : 'No description' }}
    </p>
  </div>
  <div class="grid-item date-container">
    <p class="date">
      This account was created at {{ user.createDate | date:'dd-MM-yyyy' }}
    </p>
  </div>
  <div class="grid-item comments-container">
    <h3>Comments</h3>

    <div class="add-comment-container">
      <input #comment type="text" placeholder="Your comment"
      (keyup.enter)="addComment(comment.value); comment.value = ''" />
      <button (click)="addComment(comment.value); comment.value = ''">Add</button>
    </div>

    <!-- Comment container -->
    <div class="comment" *ngFor="let comment of comments" >
      <div class="nickname-date-container">
        <div>
          <span class="nickname" [routerLink]="'/user/' + comment.userId"> {{ comment.nickname }} </span>
          <a
          *ngIf="currentUser.nickname !== comment.nickname"
          (click)="reply(comment.nickname)"
          style="margin-left: 10px">reply</a>
        </div>
        <div>
          <span class="delete"
          (click)="deleteComment(comment._id)"
          *ngIf="(currentUser.nickname === comment.nickname) || (currentUser.nickname === 'SAGU')">delete</span>
          <span class="date"> {{ comment.date | date:'dd-MM-yyyy HH:mm' }} </span>
        </div>
      </div>
      <div class="content">
        <p> {{ comment.content }} </p>
      </div>
    </div>

    <!-- Display if there is no comment -->
    <div class="no-results" *ngIf="comments.length === 0">
      <p>No comments yet</p>
    </div>

  </div>
</div>

 <!-- Edit container -->
 <div class="edit-container" *ngIf="displayEditForm">
  <div class="close-btn">
    <button mat-icon-button (click)="toggleEditForm()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="notif-container" *ngIf="user.nickname === 'SAGU'">
    <h3>New features description</h3>
    <input #description type="text" placeholder="Send something.."
    (keyup.enter)="notifyToAllUsers(description.value); description.value = ''" />
    <button (click)="notifyToAllUsers(description.value); description.value = ''">Send</button>
  </div>

  <h2>Edit your profile!</h2>

  <div class="errors-container" *ngIf="displayErrors" >
    <h3>Errors</h3>
    <ul>
      <li *ngIf="editForm.controls.introduction.invalid">Introduction should contain max 100 characters</li>
      <li *ngIf="editForm.controls.description.invalid">Description should contain max 600 characters</li>
      <li *ngIf="serverError">The error occured on the server side</li>
    </ul>
  </div>

  <form [formGroup]="editForm" spellcheck="false" novalidate (submit)="submit()" enctype="multipart/form-data">
    <div class="form-field">
      <label>Profile image</label>
      <small>Choose your avatar</small>

      <div class="options-container">
        <a class="option" [class.selected]="!displayFileInput && !deleteImage" (click)="setOption(1)">Don't change image</a>
        <a class="option" [class.selected]="displayFileInput" (click)="setOption(2)">Choose new image</a>
        <a class="option" [class.selected]="deleteImage" (click)="setOption(3)">Delete image</a>
      </div>

      <input type="file" (change)="changeImageFile($event)" accept="image/png, image/jpg, image/jpeg" formControlName="image" class="image-input" *ngIf="displayFileInput" />

      <image-cropper
      *ngIf="imageSelected && displayFileInput"
      [imageFile]="imageFile"
      [cropperMinWidth]="100"
      [maintainAspectRatio]="true"
      [aspectRatio]="1/1"
      [roundCropper]="true"
      format="png"
      (imageCropped)="imageCropped($event)"></image-cropper>

      <div class="cropped-image-container" *ngIf="imageSelected && displayFileInput">
        <h3>New image preview</h3>
        <app-profile-image [imageAsBase64]="croppedImage" imageBorderColor="green" imageSize="90px"></app-profile-image>
      </div>

    </div>
    <div class="form-field">
      <label>Quick introduction</label>
      <small>Say something about you in a few words</small>
      <input type="text" maxlength="100" formControlName="introduction"
      placeholder="Empty..." />
    </div>
    <div class="form-field">
      <label>Description</label>
      <textarea maxlength="1000" formControlName="description" placeholder="Empty...">
      </textarea>
    </div>
    <div class="submit-container">
      <button type="submit" mat-flat-button>Update</button>
    </div>
  </form>

  <div class="delete-btn">
    <button mat-flat-button (click)="toggleConfirm()">
      {{ displayConfirm ? 'Hide' : 'Delete account' }}
    </button>
    <div class="confirm" *ngIf="displayConfirm">
      <a (click)="deleteAccount()">
        Click this text if you really want to delete your account
      </a>
    </div>
  </div>
</div>
